$color-primary: #1D0D44;
$color-primary-light: #281459;
$color-secondary: #614DA7;
$color-secondary-light: #7b59d0;
$color-secondary-dark: #633BC8;
$heading-color : #3F3A64;

$white : #fff;
$light-white :rgba($white, .7);
$gray : #91959D;
$light-gray : #F7F7F7;
$black: #000;

$bg-light: rgba(130, 115, 252, .05);

$transition-time : .3s;

$default-font : 1.8rem;